version: "3.9"

services:
  mariadb:
    image: mariadb:10.4
    container_name: mariadb
    environment:
      MARIADB_ALLOW_EMPTY_ROOT_PASSWORD: "yes"
    ports:
      - "3306:3306"
    volumes:
      - ~/mariadb_data:/var/lib/mysql
    restart: unless-stopped